/build/**
/dist/**
/coverage/**
/docs/**
/jsdoc/**
/theme/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
/lib/rules/utils/unicode/is-combining-character.js
test.js
/test/**
/util/**
!.eslintrc.js
