<!DOCTYPE html>
<html lang="en">
<head>
    <?js if (!env.conf.docdash) { env.conf.docdash = {};} ?>
    <meta charset="utf-8">
    <title>Liquid Carrot - <?js= title ?> - <?js= ((env.conf.docdash.meta && env.conf.docdash.meta.title) || "Documentation") ?></title>
    <link rel="shortcut icon" href="/liquid-carrot-favicon.png" />
    <?js if (env.conf.docdash.meta) { ?>
    <?js if (env.conf.docdash.meta.description) { ?><meta name="description" content="<?js= env.conf.docdash.meta.description ?>" /><?js } ?>
    <?js if (env.conf.docdash.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.docdash.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.docdash.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.docdash.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.docdash.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.docdash.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.docdash.openGraph.image ?>"/>
    <?js if (env.conf.docdash.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.docdash.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.docdash.openGraph.url ?>"/>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/bulma.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav <?js if (env.conf.docdash.wrap) { ?>class="wrap"<?js } ?>>
    <?js if (env.conf.docdash.search) { ?>
    <input type="text" id="nav-search" placeholder="Search" />
    <?js } ?>
    <?js= this.nav ?>
</nav>

<div id="main">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-8-widescreen">

            <?js if (title != 'Home') { ?>
                <h1 class="page-title"><?js= title ?></h1>
            <?js } ?>

            <?js= content ?>

            <?js if (env.conf.docdash.disqus) { ?>
                <div id="disqus_thread"></div>
                <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//<?js= env.conf.docdash.disqus ?>.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <?js } ?>

        </div>
        <div class="column"></div>
    </div>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the <a href="https://github.com/clenemt/docdash">docdash</a> theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<?js if (env.conf.docdash.search || env.conf.docdash.collapse) { ?>
<script src="scripts/jquery-3.1.1.min.js"></script>
<?js if (env.conf.docdash.search) { ?>
<script src="scripts/search.js"></script>
<?js } ?>
<?js if (env.conf.docdash.collapse) { ?>
<script src="scripts/collapse.js"></script>
<?js } ?>
<?js } ?>
<?js if (env.conf.docdash.scripts && env.conf.docdash.scripts.length) {
    for(var i = 0; i < env.conf.docdash.scripts.length; i++){
        if (env.conf.docdash.scripts[i].indexOf(".css") != -1) {
    ?>
    <link type="text/css" rel="stylesheet" href="<?js= env.conf.docdash.scripts[i] ?>">
    <?js
        } else {
    ?>
    <script src="<?js= env.conf.docdash.scripts[i] ?>"></script>
    <?js
        }
    }
} ?>
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
  heap.load("1195922815");
</script>
</body>
</html>
