<?js
    var data = obj;
    var self = this;

    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <pre class="prettyprint">
      <a class="nocode copy-button button is-success is-outlined is-small" data-clipboard-text='<?js= example.code ?>'>Copy</a>
      <code data-clipboard-text='<?js= example.code ?>'><?js= self.htmlsafe(example.code) ?></code>
    </pre>
<?js
    });
?>
