<?js
    var params = obj;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        var paramRegExp;

        if (!param) {
            return;
        }

        if (parentParam && parentParam.name && param.name) {
            try {
                paramRegExp = new RegExp('^(?:' + parentParam.name + '(?:\\[\\])*)\\.(.+)$');
            }
            catch (e) {
                console.error("Problem parsing comment", e);
                // there's probably a typo in the JSDoc comment that resulted in a weird
                // parameter name
                return;
            }

            if ( paramRegExp.test(param.name) ) {
                param.name = RegExp.$1;
                parentParam.subparams = parentParam.subparams || [];
                parentParam.subparams.push(param);
                params[i] = null;
            }
            else {
                parentParam = param;
            }
        }
        else {
            parentParam = param;
        }
    });

    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }

        if (param.optional || param.nullable || param.variable) {
            params.hasAttributes = true;
        }

        if (param.name) {
            params.hasName = true;
        }

        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>
<div class="table-overflow">
<table class="params">
    <thead>
    <tr>
        <?js if (params.hasName) {?>
        <th>Name</th>
        <?js } ?>

        <th>Type</th>

        <?js if (params.hasDefault) {?>
        <th>Default</th>
        <?js } ?>

        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    <?js
        var self = this;
        params.forEach(function(param) {
            if (!param) { return; }
    ?>

        <tr>
            <?js if (params.hasName) {?>
                <td class="name"><code><?js= param.name ?></code></td>
            <?js } ?>

            <?js if (!param.subparams) { ?>
                <td class="type">
                <?js if (param.type && param.type.names) {?>
                    <?js= self.partial('type.tmpl', param.type.names) ?>
                <?js } ?>
                <?js if (params.hasAttributes) {?>
                    <?js if (param.optional) { ?>
                        <span class="attribute">&lt;optional&gt;</span>
                    <?js } ?>

                    <?js if (param.nullable) { ?>
                        <span class="attribute">&lt;nullable&gt;</span>
                    <?js } ?>

                    <?js if (param.variable) { ?>
                        <span class="attribute">&lt;repeatable&gt;</span>
                    <?js } ?>
                <?js } ?>
                </td>
            <?js } ?>

            <?js if (param.subparams) { ?>
                <td colspan="2" class="description last">
                    <?js= param.description ?>
                    <h6>Properties</h6>
                    <?js= self.partial('params.tmpl', param.subparams) ?>
                </td>
            <?js } ?>

            <?js if (params.hasDefault && !param.subparams) {?>
                <td class="default">
                <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                    <code><?js= self.htmlsafe(param.defaultvalue) ?></code>
                <?js } ?>
                </td>
            <?js } ?>
            <?js if (!param.subparams) { ?>
                <td class="description last"><?js= param.description ?></td>
            <?js } ?>
        </tr>

    <?js }); ?>
    </tbody>
</table>
</div>